@import "../../global.scss";

.portfolio {
	background-color: black;
	max-width: 100vw;
	height: 100%;
	h1 {
		font-size: 2rem;
		color: $hotpink;
		font-family: "Rockout";
		text-align: center;
	}
}
