@import "../../global.scss";

.navbar {
	background-color: black;
	color: white;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;
	z-index: 10;
	overflow: hidden;
	padding-top: 0;
}
.container-navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	@include breakpoint(small) {
		padding: 0px;
	}
}
.brand-small {
	height: 60px;
}
.brand {
	display: flex;
	align-items: center;
	letter-spacing: 0px;
	font-size: 1.5rem;
	text-decoration: none;
	font-family: "Rockout";
	// color: $hotpink;
	color: white;
	letter-spacing: 5px;
	&:hover {
		color: white;
	}

	@include breakpoint(medium) {
		font-size: 2rem;
	}
	.logo-brand {
		height: 45px;
		margin: 0 1 0px;
	}
}

.left {
	display: flex;
	flex-direction: row;
	position: relative;
	text-align: center;
	padding-left: 20px;

	p {
		margin: 0;
	}
	.web-logo {
		height: 38px;
		margin: 0px 7px;
	}
	@include breakpoint(large) {
		display: flex;
		text-align: left;
	}
}
.contact-container {
	display: none;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	@include breakpoint(medium) {
		display: flex;
	}
}
.icon-email {
	margin: 5px;
}

.hamburger {
	cursor: pointer;
	color: white;
	margin-right: 10px;
	z-index: 10;
}
